<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>392202607324-sla5fgch6g9r6q6c9etkpj2v4rhcsd7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392202607324-sla5fgch6g9r6q6c9etkpj2v4rhcsd7d</string>
	<key>API_KEY</key>
	<string>AIzaSyA-1R6qpsM8tW7IXEogu2cU6_5VsBKiZXA</string>
	<key>GCM_SENDER_ID</key>
	<string>392202607324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>developers-institute.TechCodeApp</string>
	<key>PROJECT_ID</key>
	<string>techcode-1</string>
	<key>STORAGE_BUCKET</key>
	<string>techcode-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392202607324:ios:4f2dc6065cb33913</string>
	<key>DATABASE_URL</key>
	<string>https://techcode-1.firebaseio.com</string>
</dict>
</plist>